@model FavoriteProductViewModel

@{
    var currency = "$";
}

<div class="favorite-product-card">
    @* product image *@
    <div class="product-img">
        <a class=""
            asp-controller="Product" 
            asp-action="Index"
            asp-route-productnumber="@Model.ProductNumber"
        
        >
            <img src="@Model.ImgUrl" alt="" />
        </a>

        @if (Model.IsOnSale is true)
        {
            <div class="sale-tag">sale</div>
        }
    </div>

    @* product description, price, discount, rating *@
    <div class="card-description">
        <a asp-controller ="Product"
            asp-action="Index"
            asp-route-productnumber="@Model.ProductNumber" style="text-decoration: none">
            <h1 class="name">
                @Model.Name
            </h1>
        </a>
        <div class="price-tag">
            <span class="price">@currency@Model.PriceWithoutTax</span>
            <span class="sales-price">@currency@String.Format("{0:0.00}", @Model.SalePrice)</span>
        </div>
        <div class="rating">
            <div>
                @for (decimal i = 0.0M; i < 5.0M; i++)
                {
                    if (i + 0.5M < Model.Rating)
                    {
                        <i class="star fa-solid fa-star"></i>
                    }
                    else if (i < Model.Rating)
                    {
                        <i class="star fa-regular fa-star-half-stroke"></i>
                    }
                    else
                    {
                        <i class="star fa-regular fa-star"></i>
                    }
                }
            </div>
            &nbsp;(@Model.Rating.ToString())
        </div>
    </div>

    @* heart and add to shopping cart buttons *@
    <div class="card-icons">
        <a title="Remove from wish list" asp-controller="WishList"
           asp-action="RemoveProductFromWishList"
           asp-route-productId="@Model.ProductId">

            <i class="heart fa-solid fa-heart"></i>
        </a>

        <a title="Add to shopping cart" class="bag-circle"
           asp-controller="WishList"
            asp-action="AddProductToShoppingCart"
            asp-route-productId="@Model.ProductId" 
            asp-route-shoppingCartId="@Model.ShoppingCartId">

            <i class="shopping-bag fa-solid fa-bag-shopping"></i>

        </a>
    </div>
</div>

