@using ServiceLibrary.Models;
@model Product

@{
}

@if (Model != null!)
{

    <div class="product-card">
        <div class="product-image">
            <div class="buttons-container">
                <button class="add-to-favorite-btn">Fav</button>
                <button class="add-to-cart-btn">Cart</button>
            </div>
        </div>
        <div class="product-info">
            <div>@Model.ProductName</div>
            <div>@Model.Description</div>
            <div>@Model.SalePrice</div>
            <div>@Model.Rating</div>
            <div>@Model.ProductNumber</div>
        </div>
    </div>

}