@using Microsoft.AspNetCore.Html;
@using ServiceLibrary.Models;
@using System.Text;
@model Product
@{
    var userIsPrivateCustomer = false;
    var salePrice = 0.0M;
}
@functions {
    private HtmlString GetStarRating(decimal rating)
    {
        const int maxStars = 5;
        int fullStars = (int)rating;
        int halfStar = rating % 1 >= 0.5m ? 1 : 0;
        int emptyStars = maxStars - fullStars - halfStar;

        var starHtml = new StringBuilder();
        starHtml.Append(new string('i', fullStars).Replace("i", "<i class='fa fa-star'></i>"));
        starHtml.Append(new string('i', halfStar).Replace("i", "<i class='fa fa-star-half-alt'></i>"));
        starHtml.Append(new string('i', emptyStars).Replace("i", "<i class='fa fa-star-o'></i>"));

        return new HtmlString(starHtml.ToString());
    }
}

@if (Model != null!)
{
    <div class="product-card">
        <div class="pos">
            <img class="product-image" src="@Model.ImageUrl" alt="prod-img"/>
            <div class="buttons-container">
                <button class="add-to-favorite-btn">
                    <i class="fa-light fa-heart" aria-hidden="true"></i>
                </button>
                <button class="add-to-cart-btn">
                    <i class="fa-light fa-bag-shopping" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <div class="product-info">
            <div class="product-rating">@Html.Raw(GetStarRating(@Model.Rating))</div>
            <div class="product-text-item">@Model.ProductName</div>

            @if (Model.IsOnSale)
            {
                salePrice = Model.PriceIncTax * Model.SalePricePercentage;
                <div class="product-price">
                    <div class="org-price">
                        @Model.PriceIncTax
                    </div>
                    <div class="sale-price">
                        @salePrice
                    </div>
                </div>
            }
            else
            {
                <div class="product-price">
                    <div class="org-price">
                        @Model.PriceIncTax
                    </div>
                </div>
            }

        </div>
    </div>
}