@model List<ProductViewModel>
@{
}

<head>
    <link rel="stylesheet" href="_productCard.css">
</head>

@if (Model != null!)
{
    @foreach (var p in Model)
    {

        <div class="product-card">
            <div class="product-image">
                <img src="https://img01.ztat.net/article/spp-media-p1/43f5ca71232a48fbb839cd5aaac3bb65/eae6359526ef4fd38b461b377e5b4a1d.jpg?imwidth=300&filter=packshot" alt="Product Image">
                <div class="product-icons">

                    <a asp-controller="Product" asp-action="AddProductToWishList" asp-product="@Model" class="btn-cart">
                        <i class="fa-regular fa-heart" style="color:black;"></i>
                    </a>
                    <a asp-page="" class="btn-cart">
                        <i class="fa-regular fa-bag-shopping" style="color:black;"></i>
                    </a>
                </div>
            </div>
            <div class="product-details">
                <div class="product-review">

                    @for (decimal i = 0.0M; i < 5.0M; i++)
                    {
                        if (i + 0.5M < p.Rating)
                        {
                            <i id="starsColor" class="fa-solid fa-star"></i>
                        }
                        else if (i < p.Rating)
                        {
                            <i id="starsColor" class="fa-regular fa-star-half"></i>
                        }
                        else
                        {
                            <i id="starsColor" class="fa-regular fa-star"></i>
                        }
                    }
                    <span class="review-score">(@p.Rating)</span>
                </div>

                <div class="product-name">@p.ProductName</div>
                <div class="product-price">$@p.SalePrice</div>
            </div>
        </div>

        @*    <div style="width: 300px; height: 400px; border: 1px solid black; padding: 15px; margin: 5px; background: #f3f3f3; display: flex; flex-direction: column; justify-content: center">
            <div>@p.ProductId</div>
            <div>@p.ProductNumber</div>
            <div>@p.ProductName</div>
            <div>@p.Description</div>
            <div>@p.Category</div>
            <div>@p.Type</div>
            <div>@p.Size</div>
            <div>@p.QuantityInStock</div>
            <div>@p.Color</div>
            <div>@p.PriceExcTax</div>
            <div>@p.PriceIncTax</div>
            <div>@p.SalePrice</div>
            <div>@p.IsOnSale</div>
            <div>@p.IsFeatured</div>
            <div>@p.Rating</div>
            <div>@p.ImageUrl</div>
        </div> *@
    }
}