@model CategoryPageViewModel
@{
    var count = 0;
}

@* categories main *@
<section class="category-main">
    <div class="gender-categories">
        @foreach (var category in Model.GenderCategories!)
        {
            <button class="item" asp-controller="ProductCategory" asp-action="Index">@category</button>
        }
    </div>
    <div class="product-types">
        @do
        {
            var category1 = @Model.ProductCategories[count];
            <div class="category category-small">
                <div class="category-item"><img src="../img/dresses.jpg" /><span>@category1</span></div>
                @if (count + 1 <= Model.ProductCategories.Count() - 1)
                {
                    var category2 = @Model.ProductCategories[count + 1];
                    <div class="category-item"><img src="../img/pants.jpg" /><span>@category2</span></div>
                }
            </div>
            @if (count + 2 <= Model.ProductCategories.Count() - 1)
            {
                var category3 = @Model.ProductCategories[count + 2];
                <div class="category category-big category-item"><img src="../img/accessories.jpg" /><span>@category3</span></div>
            }
            count += 3;
        }
        while (Model.ProductCategories.Count - 1 >= count);
    </div>
</section>

@{
    <script>
        function activateItem(button) {
            var buttons = document.querySelectorAll('.item');
            buttons.forEach(function (btn) {
                btn.classList.remove('active');
            });

            button.classList.add('active');
        }
    </script>
}


