@*
*@
@{
}

<header class="Navigation-Bar">
    <div class="container">
        <div class="Menu-links">

            <div class="Menu-link">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="fa-regular fa-house
                    @(ViewContext.RouteData.Values["action"]?.ToString() == "Index" ? "active" : "")"></i>
                </a>
            </div>

            <div class="Menu-link">
                <a asp-area="" asp-controller="" asp-action="">
                    <i class="fa-regular fa-magnifying-glass
                @(ViewContext.RouteData.Values["action"]?.ToString() == "" ? "active" : "")"></i>
                </a>
            </div>

            <div class="Menu-link">
                <a asp-area="" asp-controller="" asp-action="">
                    <i class="fa-regular fa-cart-shopping
                   @(ViewContext.RouteData.Values["action"]?.ToString() == "" ? "active" : "")"></i>
                </a>
            </div>

            <div class="Menu-link">
                <a asp-area="" asp-controller="" asp-action="">
                    <i class="fa-regular fa-heart
                   @(ViewContext.RouteData.Values["action"]?.ToString() == "" ? "active" : "")"></i>
                </a>
            </div>
            <div class="Menu-link">
                <a asp-area="" asp-controller="" asp-action="">
                    <i class="fa-regular fa-user
                   @(ViewContext.RouteData.Values["action"]?.ToString() == "" ? "active" : "")"></i>
                </a>
            </div>

        </div>
    </div>
</header>