@{
    ViewData["Title"] = "Featured Products Page";
}

<!DOCTYPE html>
<html>


<head>
    <link rel="stylesheet" href="FeaturedProduct.css">
</head>

<body>

    <header>
        <h1>Featured Products</h1>
    </header>

    <div class="product-grid">
        @Html.Partial("_productCard")
        @Html.Partial("_productCard")
        @Html.Partial("_productCard")
        @Html.Partial("_productCard")
        @Html.Partial("_productCard")
        @Html.Partial("_productCard")
        @Html.Partial("_productCard")
        @Html.Partial("_productCard")
     
    </div>
</body>
</html>
<link rel="stylesheet" href="https://kit.fontawesome.com/41c8b474e2.css" crossorigin="anonymous">
